main .banner {
  width: 100%;
  height: 180px;
  background-image: url('../assets/banners/Banner principal.png');
  background-position: -110px center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  overflow: hidden;
}

/*-Hero----------------------------------------------------------------------------------------------------------------------------------------*/

#hero{
  background-image: url('../assets/banners/banner.png'); /* cambia por tu imagen */
  background-position: center; /* centra la imagen */
  background-repeat: no-repeat; /* evita repetici贸n */
  background-size: cover; /* hace que cubra todo el fondo */
}

#herobrain{
  background-image: url('img/banner.png'); /* cambia por tu imagen */
  background-position: center; /* centra la imagen */
  background-repeat: no-repeat; /* evita repetici贸n */
  background-size: cover; /* hace que cubra todo el fondo */
}


/*----------Slider de header----------*/
#slider-header::-webkit-scrollbar {
  display: none;
}

#slider-header {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}








/*-Responsive--------------------------------------------------------------------------------------------------*/

/*  Pantallas grandes (desktop) */
@media (min-width: 1200px) {
  main .banner {
    height: 450px; /* respeta proporci贸n original */
    height: auto;
    background-position: center;
    background-size: cover; /* la imagen cubre todo el fondo */
    background-position: center; /* centra la imagen */
    background-repeat: no-repeat;
  
    width: 100%; /* ocupa todo el ancho disponible */
    aspect-ratio: 1920 / 450; /* mantiene la proporci贸n original autom谩ticamente */
  }
}

/*------tablets-------*/
@media (max-width: 1024px) {
  main .banner {
    height: 20vh;
    height: 250px;
    background-position: -100px center;
    background-position: center top; 
  }
}

/*-----celulares------*/
@media (max-width: 768px) {
  main .banner {
    height: 30vh;
    height: 25vh;
    height: 200px;
    background-position: right center; 
    background-position: -80px center;
  }
}

/*-----moviles peque帽os-----*/
@media (max-width: 480px) {
  main .banner {
    height: 35vh;
    height: 450px;
    height: 180px;
    background-size: contain; 
    background-position: right top;
    background-color: #f25c2b; 
  }

  main .banner {
    width: 100%;
    height: 180px;
    background-image: url('../assets/banners/Banner principal.png');
    background-position: -110px center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    overflow: hidden;
  }
}

@media (max-width: 344px) {
  main .banner {
    width: 100%;
    height: 180px;
    background-image: url('../assets/banners/Banner principal.png');
    background-position: -120px center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    overflow: hidden;
  }
}