
.registro-steps{
    width: 100%;
    display: flex;
    /*justify-content: space-between;*/
    gap: 16px; /*borrar por las dudas*/
    padding: 0 0 48px 0;
}

/*ESpacio entre el contenido del div*/
.registro-steps > div{
    padding: 10px 12px;
    padding: 14px 14px;
    width: 24%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    min-width: 0;
    background: #ffffff;
    border-radius: 6px;
    border: 1px solid #eaeaea;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}

.registro-steps > div img{
    height: 35px;
}

.registro-steps > div > span{
    font-size: 12px;
    flex: 1;
}

.registro-steps > div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registro-steps > div div span{
    text-align: center;
    font-size: 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1px;
}

.registro-steps > div div a{
    font-size: 10px;
    text-align: center;
    font-size: 10px;
    line-height: 1;
    white-space: nowrap; 
    color: #919090;
    text-decoration: underline;
}


/*
@media (max-width: 1024px) {
  .registro-steps {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .registro-steps {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    scroll-snap-type: x mandatory;
    padding-bottom: 8px;
  }

  .registro-steps::-webkit-scrollbar {
    display: none;
  }

  .registro-steps > div {
    flex: 0 0 85%;
    scroll-snap-align: start;
  }
}
*/


@media (max-width: 1024px) {
  .registro-steps {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .registro-steps::-webkit-scrollbar {
    display: none;
  }

  .registro-steps > div {
    flex: 0 0 45%;
    scroll-snap-align: start;
  }
}

@media (max-width: 640px) {
  .registro-steps {
    gap: 12px;
    padding-left: 12px;
  }

  .registro-steps > div {
    flex: 0 0 80%;
  }

  .registro-steps > div{
    padding: 8px 10px;
    
  }
  
  .registro-steps > div > span{
    font-size: 10px;
    flex: 1;
    
  }

  .registro-steps > div div span{
       text-align: center;
       font-size: 16px;
       font-size: 16px;
       font-weight: 700;
       line-height: 1;
       letter-spacing: -1px;
   }
   
   .registro-steps > div div a{
       font-size: 10px;
       text-align: center;
       font-size: 8px;
       line-height: 1;
       white-space: nowrap; 
       color: #919090;
       text-decoration: underline;
   }

}
