.categories {
  width: 100%;
}

.categories-slider {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  padding: 16px 0px;
  -webkit-overflow-scrolling: touch;
}

.categories-slider::-webkit-scrollbar {
  display: none; /* opcional */
}

/* Card */
.cat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #222;
  transition: transform 0.1s ease;
  flex: 0 0 auto;             /* 🔥 importante para slider */
}

.cat-item:hover {
  transform: scale(1.01);
}

/* Circle */
.cat-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #e5f8ff;
  background: #7fa6fa;
  background: #dee8fd;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.25s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
}

.cat-circle img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

/* Text */
.cat-item span {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #3a3a3a;
  width: 100px;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.1;
}

.mas-vendidos .cat-circle img{
  width: 50%;
}

/* ======================================== */
/*   MOBILE — ACTIVAR SCROLL SNAP SUAVE     */
/* ======================================== */

@media (max-width: 768px) {

  .categories-slider {
    flex-wrap: nowrap;  
    scroll-snap-type: x mandatory;  /* slider tipo carrusel */
    justify-content: flex-start;
    padding: 10px 0px;
    gap: 12px;
  }

  .cat-item {
    scroll-snap-align: start;
  }

  .cat-circle {
    width: 50px;
    height: 50px;
  }

  .cat-item span {
    font-size: 10px;
    margin-top: 2px;
    width: 55px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.1;
  }

  .mas-vendidos .cat-circle{
    border: 1px solid #00FF00; 
    border: 1px solid #2563eb; 
    background: white;
  }
  
  .mas-vendidos .cat-circle img{
    width: 50%;
  }
  
}


