/* ======== BASE DEL SLIDER ======== */
.ml-slider {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: auto;
  overflow: hidden;
  border-radius: 8px;
  border-radius: 0px;

  margin-left: calc(-2vw);
  margin-right: calc(-2vw);
  width: calc(100% + 4vw);
}

/* Contenedor deslizante */
.ml-track {
  display: flex;
  transition: transform 0.45s ease;
}

/* Cada slide */
.ml-slide {
  min-width: 100%;
  user-select: none;
}

/* Imágenes fluidas */
.ml-slide img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: auto;
}

/* ======== FLECHAS ======== */
.ml-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: clamp(32px, 4vw, 52px);
  height: clamp(32px, 4vw, 52px);
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  color: #2563EB;
  font-size: clamp(18px, 3vw, 26px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: background 0.3s;
  padding: 0;
}

.ml-arrow p{
  padding: 0;
  margin: 0;
}

.ml-arrow:hover {
  background: rgba(255, 255, 255, 0.65);
}

.ml-prev { left: 12px; }
.ml-next { right: 12px; }

/* ======== PUNTOS ======== */
.ml-dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.ml-dots button {
  width: clamp(4px, 1.8vw, 4px);
  height: clamp(4px, 1.8vw, 4px);
  border-radius: 50%;
  border: 1px solid #c6c6c6;
  border: none;
  background: #c6c6c6;
  cursor: pointer;
  transition: background 0.3s;
}

.ml-dots button.active {
  border: 4px solid #2563EB;
  background: #2563EB;
}

/* ======== RESPONSIVE ======== */
@media (max-width: 480px) {
  /* Cada slide */
  .ml-slide {
    min-width: 96%;
    user-select: none;
    margin: 0 2%;
  }
  
  .banner-rounded {
    border-radius: 10px;
    overflow: hidden; /* ESTO es clave */
    display: block;
  }
  
  .banner-rounded img {
    border-radius: inherit;
    width: 100%;
    height: auto;
    display: block;
  }
  
  .ml-arrow {
    display: none;
  }
}





