
/* Celulares pequeños */
@media (max-width: 480px) {
    .ofertas-scroll {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE y Edge antiguos */
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
    }
    
    .ofertas-scroll::-webkit-scrollbar {
      display: none; /* Chrome, Safari y Edge */
    }

}




/*------------------------------------------------------------------------------*/
.slider-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Flechas */
.arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  transition: 0.3s;
  z-index: 10;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.7);
}

.left { left: 10px; }
.right { right: 10px; }

/* Puntos */
.dots {
  position: absolute;
  bottom: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dots span {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background 0.3s;
}

.dots .active {
  background: #ff4444;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .arrow {
    padding: 8px;
    font-size: 16px;
  }
}



@media (max-width: 480px) {

  .slide {
    width: 100%;        /* Ocupa el ancho real */
    min-width: 100%;    /* NUNCA más que la pantalla */
    overflow: hidden;   /* Recorta si algo sobresale */
  }

  .slide img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;   /* Mantiene calidad visual */
  }
  
  /* Flechas */
  .arrow {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 50%;
      font-size: 10px;
      transition: 0.3s;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .arrow:hover {
      background: rgba(0, 0, 0, 0.7);
    }
    
    .left { left: 5px; }
    .right { right: 5px; }
    
    /* Puntos */
    .dots {
      position: absolute;
      bottom: 12px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    
    .dots span {
      height: 10px;
      width: 10px;
      margin: 0 5px;
      background: #bbb;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;
      transition: background 0.3s;
    }
    
    .dots .active {
      background: #ff4444;
  }

}




















