.purchases-page {
  background: #f5f5f5;
  min-height: 100vh;
  min-height: auto;
  padding: 20px;
  padding-bottom: 64px;
}

.purchases-container {
  margin: 0 auto;
}

/* TOP */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb {
  color: #777;
  font-size: 14px;
}

.back {
  color: #2a6df4;
  text-decoration: none;
  font-size: 14px;
  display: none;
}

/* TITLE */
h1 {
  margin-top: 10px;
  font-size: 32px;
}

/* DIVIDER */
.divider {
  margin: 20px 0;
  border-bottom: 1px solid #ccc;
}

/* CONTENT */
.purchases-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* EMPTY STATE */
.empty-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #e6e8f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.empty-icon img {
  width: 74px; /*48 22px*/
  height: 74px;
}

.empty-title {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

.empty-text {
  color: #777;
  margin-bottom: 15px;
}

.empty-link {
  color: #555;
  margin-bottom: 20px;
  font-weight: 500;
}

/* BOTÓN */
.btn-primary {
  background: linear-gradient(90deg, #2563EB, #2563EB);
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
}

/* LISTA DE COMPRAS */
.purchase-card {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  text-align: left;
}

.purchase-card strong {
  display: block;
}

/* 📱 MOBILE */
@media (max-width: 768px) {

  .breadcrumb.desktop {
    display: none;
  }

  .back.mobile {
    display: block;
  }

  h1 {
    font-size: 26px;
  }

  .empty-icon {
    width: 100px;
    height: 100px;
  }

  .empty-title {
    font-size: 18px;
  }
}

